
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar">
        <div class="nav-left">
            <div class="dropdown">
                <button class="dropbtn">
                    <img src="{% static 'images/image.jpg' %}" alt="Menu">
                </button>
                <div class="dropdown-content">
                    <a href="#">Dashboard</a>
                    <a href="#">Products</a>
                    <a href="#">Orders</a>
                    <a href="#">Reports</a>
                    <a href="#">Settings</a>
                </div>
            </div>
        </div>

        <div class="nav-center">
            <h1>InventoryPro</h1>
        </div>

        <div class="nav-right">
            <div class="dropdown">
                <button class="dropbtn">
                    <img src="{% static 'images/login.png' %}" alt="Menu">
                </button>
                <div class="dropdown-content">
                    <a href="{% url 'workplace_login'%}">Workplace</a>
                    <a href="{% url 'customer_login'%}">Customer</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    {% block content %}{% endblock %}

</body>
</html>
